* {
  font-family: Arial, Helvetica, sans-serif;

}



.navbar {
  background-color: #222 !important;
}
.navbar-toggler {
  border: none !important;
  color: #e04343;
}
#offcanvasNavbar{
  background-color: rgb(233, 225, 225);
}

#seccion1 {
 margin-top: 50px;

}
.presentacion {
  height: 85vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}
.titulo {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
 
}
.titulo h1 {
  font-size: 100px;
  font-weight: bolder;
}
.titulo h3 {
  width: 100%;
  letter-spacing: 18px;
  color: red;
}
.titulo p {
  width: 100%;
  font-size: 1.2em;
}
.logos {
  width: 80px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.curriculum {
  width: 100%;
  margin-top: 20px;
}
#btnCurriculum {
  border-radius: 0px;
  padding: 10px;
  box-shadow: 0px 10px 5px rgb(161, 169, 176);
}
.imgPresentacion {
  height: 85vh;
 background-image: url(./img/portada\ \(1\).jpg);
 background-size: cover;
}



/*SECCION2*/
#seccion2 {

  height: 50vh;
}

.sobremi {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e04343;
}
.texto_sobremi {
  width: 50%;
  height: auto;
}
.texto_sobremi h5 {
  color: #ffffff;
  letter-spacing: 4px;
  background: url(./img/h1-bg.png) no-repeat center bottom;
  padding-bottom: 30px;
  font-weight: bold;
  text-align: center;
}
.texto_sobremi p {
  text-align: center;
  color: #ffffff;
}

/*SECCION3*/
#seccion3 {

  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 206, 206);

}
.habilidades {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.habilidades h5 {
  color: #ffffff;
  letter-spacing: 4px;
  background: url(./img/h1-bg.png) no-repeat center bottom;
  padding-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

.mySwiper {
  width:100%;
  height: auto;
  padding: 20px;

}


.swiper-slide {
  width: 300px;
  height: 300px;
  background-color: #ffffff;
}
#slide1 {
  background-image: url(./img/html5.png);
  background-size: cover;
  background-position: center;
}
#slide2 {
  background-image: url(./img/css.jpg);
  background-size: cover;
  background-position: center;
}
#slide3 {
  background-image: url(./img/js.png);
  background-size: contain;
  background-position: center;
}
#slide4 {
  background-image: url(./img/php.png);
  background-size: contain;
  background-position: center;
}
#slide5 {
  background-image: url(./img/mysql.png);
  background-size: contain;
  background-position: center;
}
#slide6 {
  background-image: url(./img/bootstrap.png);
  background-size: contain;
  background-position: center;
}
#slide7 {
  background-image: url(./img/npm-logo.png);
  background-size: contain;
  background-position: center;
}
#slide8 {
  background-image: url(./img/vite.png);
  background-size: contain;
  background-position: center;
}
#slide9 {
  background-image: url(./img/react.png);
  background-size: cover;
  background-position: center;
}
#slide10 {
  background-image: url(./img/wordpress.jpg);
  background-size: cover;
  background-position: center;
}

/*SECCION4*/

.tituloProyectos{

  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffefe;

}
.texto{
  width: 100%;
  height: auto;
  padding: 15px;
}
.tituloProyectos h5 {
  color: #000000;
  letter-spacing: 4px;
  background: url(./img/h1-bg.png) no-repeat center bottom;
  padding-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

.proyectoPokemonFoto {
  height: 60vh;
  background-image: url(./img/pokemons.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.proyectoPokemonFoto:hover{
  height: 60vh;
  background-image: url(./img/pokemonscaptura.png);
  background-size: contain;
  background-color: rgb(161, 169, 176);
  background-position: center;

}

.proyectoPokemonTexto {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e04343;

}

/*SECCION5*/

.proyectoSnakeTexto {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.proyectoSnakeFoto {
  height: 60vh;
  background-image: url(./img/snakeColor.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.5s;

}
.proyectoSnakeFoto:hover {
  height: 60vh;
  background-image: url(./img/captura_snake.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(161, 169, 176);
  

}


/*SECCION6*/

.proyectoRickyFoto {
  height: 60vh;
  background-image: url(./img/el_tiempo.png);
  background-size: cover;
  background-position: center;
 
}
.proyectoRickyFoto:hover{
  height: 60vh;
  background-image: url(./img/el_tiempoCaptura.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(161, 169, 176);
  
  background-position: center;
 
}


.proyectoRickyTexto {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e04343;

}

/* texto proyectos*/

#btnProyectos {
  border-radius: 0px;
  padding: 10px;
  border: 2px solid white;
}
#btn2Proyectos {
  border-radius: 0px;
  padding: 10px;
  border: 2px solid;
}

/*SECCTION7*/
#seccion7{
  height: auto  ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: rgb(206, 206, 206);
}

.contactoDiv {
 
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contactoDiv h5 {
  color: #222;
  letter-spacing: 4px;
  background: url(./img/h1-bg.png) no-repeat center bottom;
  padding-bottom: 30px;
  font-weight: bold;
  text-align: center;

}

.contactar {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.contacto {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 255, 255);
  box-shadow: 0px 20px 10px -5px rgb(91, 90, 90);
  margin: 20px;
  border-bottom: 5px solid #e04343;
  transition: transform 0.3s;
}
.contacto:hover{
  transform: translateY(-10px);
  border-bottom: 5px solid #ffe800;
}
.icono {
  font-size: 30px;
}

/*FOOTER*/


footer{
  width: 100%;
  height: 10vh;
  background-color: rgb(34, 34, 34);
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
letter-spacing: 4px;
color: #e04343;

}





@media only screen and (max-width: 1024px) {



  .presentacion {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .titulo h1 {
    font-size: 70px;
    font-weight: bolder;
  }
  .titulo h3 {
    width: 100%;
    letter-spacing: 12px;
    color: red;
  }



  .imgPresentacion {
    height: 40vh;
   background-image: url(./img/portada\ \(1\).jpg);
   background-size: cover;
   background-position: center;
  }
  

/*SECCION2*/
#seccion2 {
  height: auto;
}

.sobremi {
  height: auto;
  padding: 20px; 
}
.texto_sobremi {
  width: 100%;
  height: auto;
}

/*habilidades*/
#seccion3 {

  height: auto;
 padding: 20px;

}
.swiper-slide {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
}
/*proyectos*/


.proyectoPokemonFoto {
  height: 30vh;
  background-image: url(./img/pokemons.jpg);
 
}
.proyectoPokemonFoto:hover{
  height: 30vh;
 
}

.proyectoPokemonTexto {
  height: auto;
  padding: 20px;
}

/*SECCION5*/

.proyectoSnakeTexto {
  height: auto;
  padding: 20px;
}


.proyectoSnakeFoto {
  height: 30vh;
}
.proyectoSnakeFoto:hover {
  height: 30vh;


}

/*SECCION6*/

.proyectoRickyFoto {
  height: 30vh;

}
.proyectoRickyFoto:hover{
  height: 30vh;
 
 
}


.proyectoRickyTexto {
  height: auto;
  padding: 20px;
 
}

/* texto proyectos*/

#btnProyectos {
  border-radius: 0px;
  padding: 10px;
  border: 2px solid white;
}
#btn2Proyectos {
  border-radius: 0px;
  padding: 10px;
  border: 2px solid;
}



}



